In [4]:
import numpy as np
import pandas as pd
from fbprophet import Prophet

In [6]:
df = pd.read_csv('C:/ProgramData/ETH/TrainingData/training.csv')
df = df[:50000]
df['datetime'] = pd.to_datetime(df.date,unit='s')
df.head()

,close,date,high,low,open,quoteVolume,volume,weightedAverage,datetime
0,515.609375,1527552000,515.609375,512.633685,512.633685,93.446187,48034.930402,514.038418,2018-05-29 00:00:00
1,514.018489,1527552300,514.832422,513.291775,513.291775,1.658992,854.079129,514.818062,2018-05-29 00:05:00
2,514.758432,1527552600,514.758432,514.290853,514.546926,14.711032,7570.374609,514.605286,2018-05-29 00:10:00
3,513.794384,1527552900,515.055799,513.794384,514.042601,1.965891,1010.844766,514.191683,2018-05-29 00:15:00
4,515.085181,1527553200,516.370237,515.085181,515.457029,35.275120,18187.540877,515.591183,2018-05-29 00:20:00

In [9]:
df = df[['datetime','close']]
df.head()

             datetime       close
0 2018-05-29 00:00:00  515.609375
1 2018-05-29 00:05:00  514.018489
2 2018-05-29 00:10:00  514.758432
3 2018-05-29 00:15:00  513.794384
4 2018-05-29 00:20:00  515.085181

In [13]:
df.columns = ['ds','y']
df.head()

                   ds           y
0 2018-05-29 00:00:00  515.609375
1 2018-05-29 00:05:00  514.018489
2 2018-05-29 00:10:00  514.758432
3 2018-05-29 00:15:00  513.794384
4 2018-05-29 00:20:00  515.085181

In [16]:
train_data = df.iloc[:len(df)-40000]
test_data = df.iloc[len(df)-10000:]

In [17]:
m = Prophet()
m.fit(train_data_pr)
future = m.make_future_dataframe(periods=12,freq='5min')
prophet_pred = m.predict(future)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

In [18]:
prophet_pred.tail()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,daily_lower,daily_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
9988,2018-07-02 16:20:00,438.664309,440.507914,461.244004,438.664309,438.664309,12.548876,12.548876,12.548876,-0.751290,-0.751290,-0.751290,13.300166,13.300166,13.300166,0.0,0.0,0.0,451.213185
9989,2018-07-02 16:25:00,438.661434,440.491163,461.274504,438.661434,438.661434,12.604973,12.604973,12.604973,-0.706425,-0.706425,-0.706425,13.311397,13.311397,13.311397,0.0,0.0,0.0,451.266407
9990,2018-07-02 16:30:00,438.658560,441.412483,461.313711,438.658560,438.658560,12.663074,12.663074,12.663074,-0.659502,-0.659502,-0.659502,13.322576,13.322576,13.322576,0.0,0.0,0.0,451.321634
9991,2018-07-02 16:35:00,438.655686,440.833429,461.950523,438.655686,438.655686,12.722831,12.722831,12.722831,-0.610868,-0.610868,-0.610868,13.333699,13.333699,13.333699,0.0,0.0,0.0,451.378517
9992,2018-07-02 16:40:00,438.652811,440.910069,461.519291,438.652811,438.652811,12.783887,12.783887,12.783887,-0.560876,-0.560876,-0.560876,13.344762,13.344762,13.344762,0.0,0.0,0.0,451.436698